In [2]:
import pymssql
import pandas as pd
import numpy as np
import re
import datetime
import os
import openpyxl

In [3]:
#B = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\HRH14441021_20211102105947\\Pass\\PCB level_Grab 2.txt'

##df = pd.read_csv (B, sep = ';', header = [0,1])
#df.columns = df.columns.to_flat_index().str.join(' ')

#df.to_csv ('test pcb grab 2.csv', index = False)

In [4]:
##pd.read_csv ('test pcb grab 2.1.csv')
##pd.set_option('max_columns', None)
###df.head(3)

In [5]:
#df = 'test pcb grab 2.csv'
#pd.read_csv ('test pcb grab 2.csv')
#df.to_csv ('test pcb grab 2.txt', sep = ';', index = False)

In [6]:
#C = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\HRH14441021_20211102105947\\Fail\\PCB level_Grab 2.txt'
#D = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\test pcb grab 2.txt'

#df1 = pd.read_csv (C, sep = ';', header = [0,1])
#df1.columns = df1.columns.to_flat_index().str.join(' ')
#df1.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
#df1.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)

#df2 = pd.read_csv (D, sep = ';')
#df2.columns = df2.columns.to_flat_index().str.join(' ')
#df2.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
#df2.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)

#df_test = pd.DataFrame ()

#df_test = df_test.append (df1)
#df_final = df_test.append (df2)

#df_final.to_excel ('test pcb grab 2_.xlsx', index = False)

In [7]:
#df1

In [12]:
X = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\MMS#2 Result\\New folder\\HRH14450847_20211103111302\\Fail\\Die level_Grab 1.txt'
Y = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\MMS#2 Result\\New folder\\HRH14450847_20211103111302\\Pass\\Die level_Grab 1.txt'

#A = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\HRH14441021_20211102105947\\Fail\\Die level_Grab 1.txt'
#B = 'C:\\Users\\QiauHui_Wong\\QIAO HUI\\Latest Result\\HRH14441021_20211102105947\\Pass\\Die level_Grab 1.txt'

df1 = pd.read_csv (X, sep = ';', header = [0,1])
df1.columns = df1.columns.to_flat_index().str.join(' ')
df1.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df1.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)

df2 = pd.read_csv (Y, sep = ';', header = [0,1])
df2.columns = df2.columns.to_flat_index().str.join(' ')
df2.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
df2.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)

#df3 = pd.read_csv (A, sep = ';', header = [0,1])
#df3.columns = df3.columns.to_flat_index().str.join(' ')
#df3.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
#df3.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)

#df4 = pd.read_csv (B, sep = ';', header = [0,1])
#df4.columns = df4.columns.to_flat_index().str.join(' ')
#df4.rename(columns={'Unnamed: 0_level_0 Lot ID':'DPNO'},inplace=True)
#df4.rename(columns={'Unnamed: 1_level_0 Unit':'Unit'},inplace=True)

pd.set_option('max_columns', 5)
df2

,DPNO,Unit,...,BrightField All (FM) 8. Cummulative Area (um2)(FM),BrightField All (FM) 9. Inspection Time
0,HRH14450847,HE_2_1_L,...,0.0,23.0353
1,HRH14450847,HE_2_2_L,...,0.0,15.0935
2,HRH14450847,HE_1_2_L,...,0.0,12.8921
3,HRH14450847,HE_1_1_L,...,0.0,13.3387
4,HRH14450847,HE_3_2_L,...,0.0,22.7964
...,...,...,...,...,...
274,HRH14450847,HE_3_16_L,...,0.0,22.9823
275,HRH14450847,HE_2_15_L,...,0.0,19.2401
276,HRH14450847,HE_4_16_L,...,0.0,20.4775
277,HRH14450847,HE_1_16_L,...,0.0,14.7352
278,HRH14450847,HE_2_16_L,...,0.0,11.4017

In [11]:
data = pd.DataFrame ()

data = data.append(df1)
data = data.append(df2)
#data = data.append(df3)
#data = data.append(df4)

data.to_csv ('Final Result2.csv', index = False)